<a href="https://colab.research.google.com/github/Yoonsun222/DE_study/blob/main/(DE_6%EA%B8%B0_3%EC%A3%BC%EC%B0%A8)_%EA%B3%BC%EC%A0%9C_2%2C3%2C4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Set up Configuration

In [ ]:
%load_ext sql

In [ ]:
# ID와 PW를 자신의 환경에 맞게 수정

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: profit_sun@dev'

In [ ]:
%%sql 

SELECT *
FROM raw_data.session_timestamp
LIMIT 10;

 * postgresql://profit_sun:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('7cdace91c487558e27ce54df7cdb299c', datetime.datetime(2019, 5, 1, 0, 13, 11, 783000)),
 ('7ed2d3454c5eea71148b11d0c25104ff', datetime.datetime(2019, 5, 1, 10, 18, 43, 210000)),
 ('fd0efcca272f704a760c3b61dcc70fd0', datetime.datetime(2019, 5, 1, 13, 45, 19, 793000)),
 ('c5f441cd5f43eb2f2c024e1f8b5d00cd', datetime.datetime(2019, 5, 1, 15, 3, 54, 650000)),
 ('3d191ef6e236bd1b9bdb9ff4743c47fe', datetime.datetime(2019, 5, 1, 15, 33, 58, 197000)),
 ('cd0b43eac0392accf3624b7372dec36e', datetime.datetime(2019, 5, 1, 16, 33, 3, 463000)),
 ('c67ba7c4c5c0cd4cc3e3a7146fe5c015', datetime.datetime(2019, 5, 1, 17, 42, 13, 580000)),
 ('63dfdeb1ff9ff09ecc3f05d2d7221ffa', datetime.datetime(2019, 5, 1, 18, 35, 48, 620000)),
 ('8d3215ae97598264ad6529613774a038', datetime.datetime(2019, 5, 1, 21, 21, 12, 953000)),
 ('4c4c937b67cc8d785cea1e42ccea185c', datetime.datetime(2019, 5, 1, 23, 50, 38))]

In [ ]:
%%sql 

SELECT *
FROM raw_data.session_transaction
LIMIT 10;

 * postgresql://profit_sun:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', False, 85),
 ('008909bd27b680698322c750c400e4b1', False, 13),
 ('0107acb41ef20db2289d261d4e34fd38', False, 16),
 ('018544a2c48077d2cc3ce3278ab1e805', False, 39),
 ('020c38173caff02033564200e0288aa9', False, 61),
 ('029591145fad252b28d844d823097400', False, 13),
 ('03190309cbcd7161a426abd4782bdcd2', False, 75),
 ('03a13aa6921aed989b31d92dc73b391a', False, 129),
 ('04215c1ad3aaff3ed175446d2ea3c0f2', False, 99),
 ('049b8c570e6cc662b4a3d7e3c86e236f', False, 24)]

In [ ]:
%%sql 

SELECT *
FROM raw_data.user_session_channel
LIMIT 10;

 * postgresql://profit_sun:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(184, 'c41dd99a69df04044aa4e33ece9c9249', 'Naver'),
 (251, '0a54b19a13b6712dc04d1b49215423d8', 'Facebook'),
 (744, '05ae14d7ae387b93370d142d82220f1b', 'Facebook'),
 (265, '4c4ea5258ef3fb3fb1fc48fee9b4408c', 'Naver'),
 (45, '60131a2a3f223dc8f4753bcc5771660c', 'Youtube'),
 (262, '761efc843ff05ab74ed358713dd51c1b', 'Organic'),
 (702, '8c97dbeee3b0d40ced7f514b99a93d93', 'Instagram'),
 (113, '7f2cba89a7116c7c6b0a769572d5fad9', 'Organic'),
 (788, 'a8c6dd982010fce8701ce1aef8a2d40a', 'Google'),
 (645, '593906af0d138e69f49d251d3e7cbed0', 'Youtube')]

# Assignmnet(2)

In [ ]:
%%sql

SELECT userid, channel,
CASE
  WHEN seq > seq2 THEN 'last_channel'
   ELSE 'first_channel'
   END
FROM (
  SELECT ROW_NUMBER() OVER (partition by userid order by ts DESC) seq2,
  userid, channel, ROW_NUMBER() OVER (partition by userid order by ts ASC) seq
  FROM raw_data.user_session_channel usc 
  JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
)
WHERE seq = 1 or seq2 = 1
LIMIT 10;

 * postgresql://profit_sun:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(27, 'Youtube', 'first_channel'),
 (27, 'Instagram', 'last_channel'),
 (29, 'Naver', 'first_channel'),
 (29, 'Naver', 'last_channel'),
 (33, 'Google', 'first_channel'),
 (33, 'Youtube', 'last_channel'),
 (40, 'Youtube', 'first_channel'),
 (40, 'Google', 'last_channel'),
 (44, 'Naver', 'first_channel'),
 (44, 'Instagram', 'last_channel')]

# 정답

In [ ]:
%%sql
WITH cte AS (
  SELECT userid, channel, (ROW_NUMBER() OVER (PARTITION BY usc.userid ORDER BY  st.ts asc)) AS arn, (ROW_NUMBER() OVER (PARTITION BY usc.userid ORDER BY  st.ts desc)) AS drn
  FROM raw_data.user_session_channel usc
  JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
)

SELECT cte1.userid, cte1.channel AS first_touch, cte2.channel AS last_touch
FROM cte cte1
JOIN cte cte2 ON cte1.userid = cte2.userid 
WHERE cte1.arn = 1 and cte2.drn = 1
ORDER BY 1
LIMiT 10;

 * postgresql://profit_sun:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(27, 'Youtube', 'Instagram'),
 (29, 'Naver', 'Naver'),
 (33, 'Google', 'Youtube'),
 (34, 'Youtube', 'Naver'),
 (36, 'Naver', 'Youtube'),
 (40, 'Youtube', 'Google'),
 (41, 'Facebook', 'Youtube'),
 (44, 'Naver', 'Instagram'),
 (45, 'Youtube', 'Instagram'),
 (59, 'Instagram', 'Instagram')]

In [ ]:
%%sql

SELECT DISTINCT A.userid,
    FIRST_VALUE(A.channel) over(partition by A.userid order by B.ts
rows between unbounded preceding and unbounded following) AS First_Channel,
    LAST_VALUE(A.channel) over(partition by A.userid order by B.ts
rows between unbounded preceding and unbounded following) AS Last_Channel
FROM raw_data.user_session_channel A
LEFT JOIN raw_data.session_timestamp B
ON A.sessionid = B.sessionid
LIMIT 10;

# Assignment(3)

In [ ]:
%%sql 


SELECT userid, sum(amount) total
FROM raw_data.session_transaction st LEFT JOIN raw_data.user_session_channel usc ON st.sessionid = usc.sessionid
GROUP BY 1
ORDER BY 2 desc
LIMIT 10;

 * postgresql://profit_sun:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (1099, 421),
 (2682, 414),
 (891, 412)]

#Assignment(4)

In [ ]:
%%sql

  SELECT LEFT(ts, 7) "month",
       usc.channel,
       COUNT(DISTINCT userid) uniqueUsers,
       COUNT(DISTINCT CASE WHEN amount > 0 THEN userid END) paidUsers,
       ROUND(paidUsers::decimal*100/NULLIF(uniqueUsers, 0),2) conversionRate,
       SUM(amount) grossRevenue,
       SUM(CASE WHEN refunded is False THEN amount END) netRevenue
   FROM raw_data.user_session_channel usc
   LEFT JOIN raw_data.session_transaction st ON st.sessionid = usc.sessionid
   LEFT JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid
   GROUP BY 1, 2
   ORDER BY 1, 2;

In [ ]:
%%sql

CREATE TABLE profit_sun.monthly_sales_channel AS
SELECT LEFT(ts, 7) "month",
    usc.channel,
    COUNT(DISTINCT userid) uniqueUsers,
    COUNT(DISTINCT CASE WHEN amount > 0 THEN userid END) paidUsers,
    ROUND(paidUsers::decimal*100/NULLIF(uniqueUsers, 0),2) conversionRate,
    SUM(amount) grossRevenue,
    SUM(CASE WHEN refunded is False THEN amount END) netRevenue
    FROM raw_data.user_session_channel usc
LEFT JOIN raw_data.session_transaction st ON st.sessionid = usc.sessionid
LEFT JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid
GROUP BY 1, 2
ORDER BY 1, 2;

 * postgresql://profit_sun:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
SELECT * FROM profit_sun.monthly_sales_channel

 * postgresql://profit_sun:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Google', 253, 10, Decimal('3.95'), 580, 580),
 ('2019-05', 'Organic', 238, 17, Decimal('7.14'), 1846, 1571),
 ('2019-07', 'Facebook', 558, 32, Decimal('5.73'), 2222, 2144),
 ('2019-07', 'Youtube', 564, 36, Decimal('6.38'), 2210, 2037),
 ('2019-08', 'Google', 610, 27, Decimal('4.43'), 2210, 1894),
 ('2019-09', 'Facebook', 597, 27, Decimal('4.52'), 2270, 2270),
 ('2019-10', 'Youtube', 705, 34, Decimal('4.82'), 2492, 2319),
 ('2019-11', 'Google', 688, 26, Decimal('3.78'), 2286, 2235),
 ('2019-05', 'Naver', 237, 11, Decimal('4.64'), 867, 844),
 ('2019-06', 'Google', 412, 13, Decimal('3.16'), 947, 947),
 ('2019-06', 'Naver', 398, 15, Decimal('3.77'), 1090, 1090),
 ('2019-06', 'Youtube', 400, 17, Decimal('4.25'), 1042, 1042),
 ('2019-07', 'Instagram', 567, 24, Decimal('4.23'), 1896, 1766),
 ('2019-08', 'Naver', 626, 22, Decimal('3.51'), 1829, 1551),
 ('2019-08', 'Youtube', 614, 18, Decimal('2.93'), 987, 950),
 ('2019-09', 'Instagram', 588, 20, Decimal('3.40'), 1260, 1122),
 ('2019-09', 'Organic', 592, 22, Decimal('3.72'), 1267, 1267),
 ('2019-10', 'Google', 699, 30, Decimal('4.29'), 2150, 2098),
 ('2019-10', 'Naver', 713, 32, Decimal('4.49'), 2695, 2695),
 ('2019-11', 'Instagram', 669, 25, Decimal('3.74'), 2116, 2116),
 ('2019-11', 'Youtube', 677, 45, Decimal('6.65'), 3532, 3331),
 ('2019-05', 'Facebook', 247, 14, Decimal('5.67'), 1199, 997),
 ('2019-05', 'Instagram', 234, 11, Decimal('4.70'), 959, 770),
 ('2019-05', 'Youtube', 244, 9, Decimal('3.69'), 529, 529),
 ('2019-07', 'Organic', 557, 22, Decimal('3.95'), 1600, 1600),
 ('2019-08', 'Facebook', 611, 18, Decimal('2.95'), 1009, 1009),
 ('2019-08', 'Instagram', 621, 28, Decimal('4.51'), 2129, 2001),
 ('2019-09', 'Youtube', 588, 15, Decimal('2.55'), 1301, 1301),
 ('2019-11', 'Facebook', 688, 25, Decimal('3.63'), 1678, 1678),
 ('2019-11', 'Naver', 667, 26, Decimal('3.90'), 2234, 1987),
 ('2019-06', 'Facebook', 414, 22, Decimal('5.31'), 1578, 1578),
 ('2019-06', 'Instagram', 410, 21, Decimal('5.12'), 1462, 1418),
 ('2019-06', 'Organic', 416, 14, Decimal('3.37'), 1129, 940),
 ('2019-07', 'Google', 556, 21, Decimal('3.78'), 1558, 1385),
 ('2019-07', 'Naver', 553, 19, Decimal('3.44'), 1547, 1547),
 ('2019-08', 'Organic', 608, 26, Decimal('4.28'), 1643, 1606),
 ('2019-09', 'Google', 599, 25, Decimal('4.17'), 1872, 1691),
 ('2019-09', 'Naver', 592, 21, Decimal('3.55'), 1996, 1996),
 ('2019-10', 'Facebook', 698, 29, Decimal('4.15'), 1650, 1641),
 ('2019-10', 'Instagram', 707, 33, Decimal('4.67'), 2568, 2395),
 ('2019-10', 'Organic', 709, 31, Decimal('4.37'), 2762, 2608),
 ('2019-11', 'Organic', 677, 34, Decimal('5.02'), 2626, 2255)]