<a href="https://colab.research.google.com/github/Yoonsun222/DE_study/blob/main/week1_Assignment(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql

In [ ]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://guest:Guest1234@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: guest@dev'

In [ ]:
result1 = %sql SELECT * FROM raw_data.session_timestamp
result2 = %sql SELECT * FROM raw_data.user_session_channel
df_st = result1.DataFrame()
df_usd = result2.DataFrame()
df_st.head()

 * postgresql://guest:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
101520 rows affected.
 * postgresql://guest:***@ssde.cnqux5xggmn5.us-east-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

                          sessionid                      ts
0  0002ac0d783338cfeab0b2bdbd872cda 2019-07-29 12:39:41.817
1  00053f5e11d1fe4e49a221165b39abc9 2019-06-24 13:04:26.370
2  00056c20eb5a029583db75506953f1d9 2019-09-26 14:50:17.000
3  00063cb5da1826febf178b669eea3250 2019-10-16 14:04:42.797
4  0007cda84fafdcf42f96c4f4adb7f8ce 2019-05-22 08:02:29.360

In [ ]:
df_usd.head()

   userid                         sessionid    channel
0    1651  0004289ee1c7b8b08c77e19878106ae3    Organic
1    1197  00053f5e11d1fe4e49a221165b39abc9   Facebook
2    1401  00056c20eb5a029583db75506953f1d9   Facebook
3    1399  00063cb5da1826febf178b669eea3250   Facebook
4    1667  000958fdaefe0dd06f5d7c4e4a5f28d1  Instagram

In [ ]:
import pandas as pd
result = pd.merge(df_usd,df_st, on= 'sessionid')
result

        userid  ...                      ts
0         1651  ... 2019-11-16 21:20:14.447
1         1197  ... 2019-06-24 13:04:26.370
2         1401  ... 2019-09-26 14:50:17.000
3         1399  ... 2019-10-16 14:04:42.797
4         1667  ... 2019-11-02 14:52:30.183
...        ...  ...                     ...
101515     931  ... 2019-08-04 21:29:51.890
101516     822  ... 2019-06-02 15:33:27.320
101517    1589  ... 2019-07-07 10:52:18.000
101518     437  ... 2019-07-17 16:04:17.410
101519    2468  ... 2019-11-04 16:37:29.000

[101520 rows x 4 columns]

In [ ]:
result['Month'] = result['ts'].apply(lambda x: "%d-%02d" % (x.year, x.month))
result.head()

   userid                         sessionid  ...                      ts    Month
0    1651  0004289ee1c7b8b08c77e19878106ae3  ... 2019-11-16 21:20:14.447  2019-11
1    1197  00053f5e11d1fe4e49a221165b39abc9  ... 2019-06-24 13:04:26.370  2019-06
2    1401  00056c20eb5a029583db75506953f1d9  ... 2019-09-26 14:50:17.000  2019-09
3    1399  00063cb5da1826febf178b669eea3250  ... 2019-10-16 14:04:42.797  2019-10
4    1667  000958fdaefe0dd06f5d7c4e4a5f28d1  ... 2019-11-02 14:52:30.183  2019-11

[5 rows x 5 columns]

In [ ]:
result = result.drop_duplicates(['userid', 'Month'], keep = 'first', ignore_index=True)

In [ ]:
result = result.groupby(["Month"])["userid"].count().reset_index(name='count').sort_values("Month", ascending=True)
result

     Month  count
0  2019-05    281
1  2019-06    459
2  2019-07    623
3  2019-08    662
4  2019-09    639
5  2019-10    763
6  2019-11    721